@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img.jpg);
    background-size: cover;
    background-position: center;

}

.container {
    backdrop-filter: blur(50px);
    background-color: transparent;
    width: 420px;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 10px;
    color: aliceblue;
    padding: 30px 40px;
    box-shadow: 9px 9px 17px -4px rgba(0, 0, 0, 0.75);
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 20px 45px 25px 25px;
    border-radius: 40px;
    border: 2px solid rgb(255, 255, 255, .2);
}

.input-box input::placeholder {
    color: rgb(218, 208, 208);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(218, 208, 208);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border: none;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 9px 9px 17px -4px rgba(0, 0, 0, 0.75);
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    color: #fff;
    transition: 0.5s;
}

.register-link {
    text-align: center;
    font-size: 14px;
    margin: 20px 0 15px;
}

.register-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}